/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/*
referred to https://www.balbooa.com/knowledgebase/32-documentation-faq-joomla/176-how-to-add-custom-font-to-website-through-fontface
to upload font
*/

@font-face {
font-family: "Lato";
src: url("css/font/Lato.ttf");
src: url("css/font/Lato.woff") format("woff"), url("css/font/Lato.woff2") format("woff2")
}

@font-face {
font-family: "Belleza";
src: url("css/font/Belleza.woff") format("woff"), url("css/font/Belleza.woff2") format("woff2")
}


body {
  font-family: "Lato";
  font-weight: normal;
  padding: 2rem;
}

h1 {
  font-family: "Belleza";
  margin: 2em 0 0.5em 0;
  font-size: 2em;
  color: #988780;
  text-align: center;
  letter-spacing: 3px;
}

h2 {
  font-family: "Belleza";
  font-size: 1.7em;
  color: #988780;

/*    --------------h2 simple edit lynn June19-------------------
*/  text-align: center;
  margin-top: 4em;
   margin-bottom: 1em;
/*  --------------h2 simple edit lynn June19-------------------*/
}

h3 {
  font-family: "Belleza";
  margin-bottom: 1em;
  font-size: 1em;
  color: #988780;
}

h4 {
  font-family: "Lato";
  font-size: 1em;
  letter-spacing: 1.5px;
  color: #545358;
  text-transform: uppercase;
}

h5 {
  font-family: "Lato-light";
  font-size: 0.5em;
  padding-top: 7em;
  float: right;
}

<<<<<<< HEAD:new/css/main.css
=======
h1.banner-header{
 position: absolute;
 margin-left: 26em;
 margin-top: 14em;
}

>>>>>>> master:Jeu Jewelry June 13 Update/css/main.css
/*----------homepage start--------------------------------------------
*/
.home-h2{
  font-size: 5.5em;
float:right;
color:white;
margin: 3em 2em 0.1em auto;
}

.home-h3{
clear: both;
font-size: 1.2em;
float: right;
margin: 0 1em auto auto;
}

.home-enter{
clear: both;
float: right;
background-color: #988780;
text-decoration: none;
font-size: 20px;
color: white;
padding: 10px 19px 10px 19px;
<<<<<<< HEAD:new/css/main.css
margin: 3em 14em auto auto;
=======
margin: 3em 1em auto auto;
>>>>>>> master:Jeu Jewelry June 13 Update/css/main.css
  transition: background-color 1s;

}
.home-enter:hover{
  text-decoration: none;
  background-color: lightgrey;
  color: #988780;
}

.homepage{
<<<<<<< HEAD:new/css/main.css
  background: 90% 0.5% url("../image/SWERVE_digital_v1_7.8.2016_2000x12004.jpg") fixed ;
=======
  background: 90% 0% url("../image/SWERVE_digital_v1_7.8.2016_2000x12004.jpg") fixed;
>>>>>>> master:Jeu Jewelry June 13 Update/css/main.css
  transition: background 2s ease-in-out;
}

/*----------homepage end--------------------------------------------
*/

/*----------nav--------------------------------------------
*/


.Header-Logo{
  font-family: "Belleza";
  font-size: 1.7em;
  color: #988780;
  font-size: 2em;
}

.header-nav{
  margin: 0 0 0 0;
}


.header-a{
  color: #545358;
  text-decoration: none;
  padding: 14px 16px;
  display: inline-block;
  float: right;
}

a {
  color: #545358;
  text-decoration: none;
}

a:hover, a:focus {
  color: #bebec1;
  text-decoration: underline;
}

.header-nav .icon {
  display: none;
  padding: 14px 16px;
}

/*----------nav end--------------------------------------------
*/



/*---------------------------new arrivals/ start--------------------
*/
<<<<<<< HEAD:new/css/main.css

.newarrival{
  margin-bottom: 2em; 
}
.card {
<<<<<<< HEAD:new/css/main.css
=======
  padding: 2em;
>>>>>>> master:Jeu Jewelry June 13 Update/css/main.css
=======
.newarrival{
  margin-bottom: 3em;
  padding-top: 3em; 
}

.card {
>>>>>>> master:Jeu Jewelry June 13 Update/css/main.css
  text-align: center;
  font-family: arial;
  color: #545358;
  margin-right: 1em;
  border: lightgrey solid 0.5px;
}

<<<<<<< HEAD:new/css/main.css
<<<<<<< HEAD:new/css/main.css
.featureproducts{
  margin-left: 4.4em;
}
.newarrival-grid-clo-1of3{
  width: 30%;
  float: left;
  margin-right: 1em;
  border: lightgrey solid 0.5px;
  position: relative;
  margin-bottom: 4em;
=======
.newarrival-grid-clo-1of2{
=======
.newarrival-grid-clo-1of3{
  width: 100%;
>>>>>>> master:Jeu Jewelry June 13 Update/css/main.css
  display: flex;
  clear: both;
<<<<<<< HEAD:new/css/main.css
  padding-top: 1em;
>>>>>>> master:Jeu Jewelry June 13 Update/css/main.css
=======
>>>>>>> master:Jeu Jewelry June 13 Update/css/main.css
}

.price {
  color: grey;
  font-size: 1em;
  font-family: "Lato";
}

<<<<<<< HEAD:new/css/main.css
/*---------------------------new arrivals-end-------------------
*/


/*---------------------------shop page start--------------------
*/
.shop-grid1of3{
/*  border: solid red;
*/  width: 23%;
  float: left;
  position: fixed;
}
.collection-a{
  margin-bottom: 1em;
  margin-left: 3em;
}

.shop-grid2of3{
  width: 75%;
/*  border: solid red;
*/  float: right;
margin-top: 1em;
margin-bottom: 4em;
}

.h3-collection{
/*border:red solid;
*/display: block;
margin-left: 6em;
margin-top: 2em;
}

.shop-product1of3{
  width:27%;
  float: right;
  margin-right: 2em;
  margin-bottom: 3em;
}

.merch-description{
  font-size: 0.8em;
  font-family: "Lato";
  padding-left: 2em;
  padding-right: 2em;
}

/* added this for checkout page */
a.checkout-link {
  font-family: "Lato";
  letter-spacing: 1px;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 10px;
=======
.card button {
  font-family: "Belleza";
  text-transform: uppercase;
  border: none;
  outline: 0;
>>>>>>> master:Jeu Jewelry June 13 Update/css/main.css
  color: white;
  background-color: #545358;
  cursor: pointer;
  width: 50%;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-block;
}

a.checkout-link:hover {
  opacity: 0.7;
}

<<<<<<< HEAD:new/css/main.css
=======
/*---------------------------new arrivals end--------------------
*/

/*---------------------------shop page start--------------------
*/
.shop-grid1of3{
  float: left;
  margin-top: 2em;
  clear: both;
}
.collection-a{
  margin-bottom: 1em;
  clear: both;
}

.shop-grid2of3{
width: 75%;
margin-left: 6em;
clear: both;
}

.shop-lowerrows{
  margin-left: 4em;
  width: 100%;
}

.h3-collection{
display: block;
font-size: 1.5em;
}

.shop-product1of3{
    display: flex;
  clear: both;
  margin-right: 2em;
  margin-bottom: 3em;
}

.merch-description{
  font-size: 0.8em;
  font-family: "Lato";
  padding-left: 2em;
  padding-right: 2em;
}

>>>>>>> master:Jeu Jewelry June 13 Update/css/main.css
/*---------------------------shop page end--------------------
*/

/* ----------------checkout page start------------------ */

.newarrival-grid-clo-1of2{
  display: flex;
  flex-direction: row;
  clear: both;
  padding-top: 1em;
}

a.checkout-link {
  font-family: "Lato";
  letter-spacing: 1px;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 12px;
  text-align: center;
  display: block;
  color: white;
  background-color: #545358;
  cursor: pointer;
  font-size: 18px;
  margin-top: 1.5em;
}

a.checkout-link:hover {
  opacity: 0.7;
}


/* referred to https://stackoverflow.com/questions/17236018/how-to-style-submit-button */
button[type=submit] {
  border-radius: 7px;
  border: 1px;
  width: 80px;
  height:25px;
  font-family: "Lato";
  background: #FFF;
}

/* ----------------checkout page end------------------*/

/* 
  TEXT ELEMENTS -------------------
*/

input[type=text] {
  border-radius: 4px;
  border: 2px;
  width: 25%;
  height:20px;
  font-family: "Lato";
  color: #545358;
  background: #FFF;
}


section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}


/* referred to https://www.w3schools.com/css/tryit.asp?filename=trycss_link2 */
a.footer-link {
  font-family: "Lato-light";
  font-size: 1em;
  letter-spacing: 1px;
  margin: 2em 0;
  display: block;
}

<<<<<<< HEAD:new/css/main.css

=======
>>>>>>> master:Jeu Jewelry June 13 Update/css/main.css
a.icons {
  padding-right: 1em;
}

/* edited this */
p {
  margin-top: 0;
  color: #545358;
  line-height: 1.8em;
  font-size: 0.9em;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

input[type=text] {
  width: 50%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #545358;
  border-radius: 3px;
}

label {
  margin-bottom: 15px;
  display: block;
}

span.price {
  float: right;
  color: grey;
}


/* 
  COMBINED ELEMENTS -------------------
*/

/* referred to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav */
/*

/* referred to https://www.youtube.com/watch?v=JJSoEo8JSnc */

.container{
  clear: both;
  display: flex;
  flex-wrap: wrap;
  border: 1px #ccc solid;
  padding: 10px;
  border-style: none;
  border-top: 1px solid silver;
  background-color: white;
  margin-top: 5em;
}

.block-1{
  flex: 1;
  padding: 10px;
  float:left;
}

.block-2{
  flex: 1;
  padding: 10px;
  float: none;
}

.block-3{
  flex: 1;
  padding: 10px;
  float: right;
}

.block-c1{
  flex: 1;
  padding: 10px;
  float:left;
  background-color: #545358;
}

.block-c2{
  flex: 1;
  padding: 10px;
  float: none;
  background-color: #D2D2D4;
}

.block-c3{
  flex: 1;
  padding: 10px;
  float: right;
  background-color: #C9BEBC;
}

.block-c4{
  flex: 1;
  padding: 10px;
  float: right;
  background-color: #988780;
}

/* NEW SINCE JUNE 6 */
.footer-c1 {
  flex: 5;
  padding: 30px;
  float: left;
}

/* referred to https://developer.mozilla.org/en-US/docs/Web/CSS/flex-grow */
.footer-c2 {
  padding: 30px;
  flex-grow: 1;
  float: left;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

/* COLUMN FOR CHECKOUT PAGE referred to https://stackoverflow.com/questions/1216114/how-can-i-make-a-div-stick-to-the-top-of-the-screen-once-its-been-scrolled-to */
.col-25 {
  width: 50%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */

@media screen and (max-width: 600px) {
    .col-25 {
    margin-bottom: 20px;
    position: relative;
  }
  .header-nav a:not(:first-child) {display: none;}
  .header-nav a.icon {
    float: right;
    display: block;
  }
    .header-nav.responsive {position: relative;}
  .header-nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}




/*---------------------------production detail page start--------------------
*/

.productdetail-grid1of2{
  width: 35%;
  float: left;
  margin: 4em 0 3em 8em;
}



