/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/*
referred to https://www.balbooa.com/knowledgebase/32-documentation-faq-joomla/176-how-to-add-custom-font-to-website-through-fontface
to upload font
*/

@font-face {
font-family: "Lato";
src: url("css/font/Lato.ttf");
src: url("css/font/Lato.woff") format("woff"), url("css/font/Lato.woff2") format("woff2")
}

@font-face {
font-family: "Belleza";
src: url("css/font/Belleza.woff") format("woff"), url("css/font/Belleza.woff2") format("woff2")
}


body {
  font-family: "Lato";
  font-weight: normal;
  padding: 2rem;
}

h1 {
  font-family: "Belleza";
  margin: 2em 0 0.5em 0;
  font-size: 2em;
  color: #988780;
  text-align: center;
  letter-spacing: 3px;
}

h2 {
  font-family: "Belleza";
  margin-bottom: 0.5em;
  font-size: 1.7em;
  color: #988780;
}

h3 {
  font-family: "Belleza";
  margin-bottom: 1em;
  font-size: 1em;
  color: #988780;
}

h4 {
  font-family: "Lato";
  font-size: 1em;
  letter-spacing: 1.5px;
  color: #545358;
  text-transform: uppercase;
}

h5 {
  font-family: "Lato-light";
  font-size: 0.5em;
  padding-top: 7em;
  float: right;
}

/*----------nav--------------------------------------------
*/


.Header-Logo{
  font-family: "Belleza";
  margin-left: 1em;
  margin-top:4em;
  font-size: 1.7em;
  color: #988780;
  font-size: 2em;
}

.header-nav{
  margin: 0 0 0 0;
  text-align: right;
}


.header-a{
  color: #545358;
  text-decoration: none;
  padding: 1em 2em 2em 2em;
}

a {
  color: #545358;
  text-decoration: none;
}

a:hover, a:focus {
  color: #bebec1;
  text-decoration: underline;
}

/*----------nav end--------------------------------------------
*/


/*---------------------------new arrivals/ shop page--------------------
*/
.card {
  padding-top: 2em;
  text-align: center;
  font-family: arial;
  color: #545358;
}

.newarrival-grid-clo-1of2{
  width: 30em;
  float: left;
  margin: 1em 3em 3em 4em;
  /*border:red solid;*/

}

.price {
  color: grey;
  font-size: 1.2em;
  font-family: "Lato";
}

.merch-description{
  font-size: 0.8em;
  font-family: "Lato";
  padding-left: 2em;
  padding-right: 2em;
}

.card button {
  font-family: "Belleza";
  text-transform: uppercase;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #97969c;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 1em;
}

.card button:hover {
  opacity: 0.7;
}

/*---------------------------new arrivals / shop page end--------------------
*/



/* referred to https://stackoverflow.com/questions/17236018/how-to-style-submit-button */
button[type=submit] {
  border-radius: 7px;
  border: 1px;
  width: 80px;
  height:25px;
  font-family: "Lato";
  background: #FFF;
}

/* 
  TEXT ELEMENTS -------------------
*/

input[type=text] {
  border-radius: 4px;
  border: 2px;
  width: 25%;
  height:20px;
  font-family: "Lato";
  color: #545358;
  background: #FFF;
}


section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}


/* referred to https://www.w3schools.com/css/tryit.asp?filename=trycss_link2 */
a.footer-link {
  font-family: "Lato-light";
  font-size: 1em;
  letter-spacing: 1px;
  margin: 2em 0;
  display: block;
}

/* added this for checkout page */
a.checkout-link {
  font-family: "Lato";
  letter-spacing: 1px;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 12px;
  color: white;
  background-color: #545358;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  margin-top: 3em;
  margin-bottom: 5em;
  display: inline-block;
}

a.checkout-link:hover {
  opacity: 0.7;
}

a.icons {
  padding-right: 1em;
}

/* edited this */
p {
  margin-top: 0;
  color: #545358;
  line-height: 1.8em;
  font-size: 0.9em;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

input[type=text] {
  width: 50%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #545358;
  border-radius: 3px;
}

label {
  margin-bottom: 15px;
  display: block;
}

span.price {
  float: right;
  color: grey;
}


/* 
  COMBINED ELEMENTS -------------------
*/

/* referred to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav */
/*

/* referred to https://www.youtube.com/watch?v=JJSoEo8JSnc */

.page-footer{
  clear: both;
}
.container{
  display: flex;
  border: 1px #ccc solid;
  padding: 10px;
  border-style: none;
  border-top: 1px solid silver;
  background-color: white;
  margin-top: 1em;
}

.block-1{
  flex: 1;
  padding: 10px;
  float:left;
}

.block-2{
  flex: 1;
  padding: 10px;
  float: none;
}

.block-3{
  flex: 1;
  padding: 10px;
  float: right;
}

@media (max-width: 35rem){
  .container{
    flex-direction: column;
  }
}

.block-c1{
  flex: 1;
  padding: 10px;
  float:left;
  background-color: #545358;
}

.block-c2{
  flex: 1;
  padding: 10px;
  float: none;
  background-color: #D2D2D4;
}

.block-c3{
  flex: 1;
  padding: 10px;
  float: right;
  background-color: #C9BEBC;
}

.block-c4{
  flex: 1;
  padding: 10px;
  float: right;
  background-color: #988780;
}

/* NEW SINCE JUNE 6 */
.footer-c1 {
  flex: 5;
  padding: 30px;
  float: left;
}

/* referred to https://developer.mozilla.org/en-US/docs/Web/CSS/flex-grow */
.footer-c2 {
  padding: 30px;
  flex-grow: 1;
  float: left;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

/* COLUMN FOR CHECKOUT PAGE referred to https://stackoverflow.com/questions/1216114/how-can-i-make-a-div-stick-to-the-top-of-the-screen-once-its-been-scrolled-to */
.col-25 {
  flex: 20%;
  float: right;
  width: 30%;
  position: absolute;
  top: 120px;
  right: 50px;
  padding: 10px;
  float:left;
  clear: both;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .col-25 {
    margin-bottom: 20px;
    position: relative;
  }
}

/*---------------------------production detail page start--------------------
*/

.productdetail-grid1of2{
  width: 35%;
  float: left;
  margin: 4em 0 3em 8em;
}



