/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/*
referred to https://www.balbooa.com/knowledgebase/32-documentation-faq-joomla/176-how-to-add-custom-font-to-website-through-fontface
to upload font
*/

@font-face {
font-family: "Lato";
src: url("css/font/Lato.ttf");
src: url("css/font/Lato.woff") format("woff"), url("css/font/Lato.woff2") format("woff2")
}

@font-face {
font-family: "Belleza";
src: url("css/font/Belleza.woff") format("woff"), url("css/font/Belleza.woff2") format("woff2")
}

/*------------------------------------------------------
*/




.Header-Logo{
color: #545358;
}


.grid-col-1of3 {
  font-family: "Belleza";
  display: inline-block;
  padding: 1em 5em;
  color: #FFF;
  background-color: #545358;
  text-transform: uppercase;
  transition: background-color 0.1s ease-out;
}

.grid-col-1of3:hover, .grid-col-1of3:focus {
  background-color: #97979b;
}

.header-a{
  color: white;
  text-decoration: none;
}

.header-a:hover, .header-a:focus {
  color: #545358;
  text-decoration: underline;
}



a {
  color: #545358;
  text-decoration: none;
}

a:hover, a:focus {
  color:   #bebec1;
  text-decoration: underline;
}
















/*------------------------------------------------------
*/


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
/*.button-nav {
  font-family: "Belleza";
  display: inline-block;
  padding: 1em 5em;
  color: #FFF;
  background-color: #545358;
  text-transform: uppercase;
  transition: background-color 0.1s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: #D2D2D4;
}
*/
/*a {
  color: #545358;
  text-decoration: none;
}

a:hover, a:focus {
  color:   #bebec1;
  text-decoration: underline;
}*/

/* referred to https://stackoverflow.com/questions/17236018/how-to-style-submit-button */
button[type=submit] {
  border-radius: 7px;
  border: 1px;
  width: 80px;
  height:25px;
  font-family: "Lato";
  background: #FFF;
}

/* 
  TEXT ELEMENTS -------------------
*/

input[type=text] {
  border-radius: 4px;
  border: 2px;
  width: 25%;
  height:20px;
  font-family: "Lato";
  color: #D2D2D4;
  text-transform: lowercase;
  background: #FFF;
}

body {
  font-family: "Lato";
  font-weight: normal;
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

h1 {
  font-family: "Belleza";
  margin-bottom: 0.5em;
  font-size: 2em;
  color: #988780;
  text-align: center;
  letter-spacing: 3px;
}

h2 {
  font-family: "Belleza";
  margin-bottom: 0.5em;
  font-size: 1.7em;
  color: #988780;
}

h3 {
  font-family: "Belleza";
  margin-bottom: 0.5em;
  font-size: 1em;
  color: #988780;
}

h4 {
	font-family: "Lato";
	font-size: 1em;
	letter-spacing: 1.5px;
	color: #545358;
	text-transform: uppercase;
}

h5 {
	font-family: "Lato-light";
	font-size: 0.5em;
	padding-top: 7em;
	float: right;
}

/* referred to https://www.w3schools.com/css/tryit.asp?filename=trycss_link2 */
a.footer-link {
	font-family: "Lato-light";
	font-size: 1em;
	letter-spacing: 1px;
}

a.icons {
	padding-right: 1em;
}

/* referred to http://css.maxdesign.com.au/listutorial/10.htm */
li{
	margin: 2em 0;
}

section p {
  margin-top: 0;
  color: #545358;
  line-height: 1.5em;
  font-size: 0.8em;

}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

ul, ol{
  color: #545358;
  font-size: 0.8em;
  list-style-type: none;

}


/* 
  COMBINED ELEMENTS -------------------
*/

/* referred to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav */
.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  font-family: "Lato-light";
  float: left;
  color: #545358;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
}

.topnav a:hover {
  color: #D2D2D4;
}

.topnav a.active {
  color: #545358;
  text-decoration: underline;
}

.topnav-right {
  float: right;
}

.topnav-mid {
  float: left;
  margin-left: 35%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
  font-family: "Lato";
}

.card button {
  font-family: "Belleza";
  text-transform: uppercase;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #545358;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 1em;
}

.card button:hover {
  opacity: 0.7;
}

/* referred to https://www.youtube.com/watch?v=JJSoEo8JSnc */

.container{
  display: flex;
  border: 1px #ccc solid;
  padding: 10px;
}

.block-1{
  flex: 1;
  padding: 10px;
  float:left;
}

.block-2{
  flex: 1;
  padding: 10px;
  float: none;
}

.block-3{
  flex: 1;
  padding: 10px;
  float: right;
}

@media (max-width: 35rem){
  .container{
    flex-direction: column;
  }
}

.block-c1{
  flex: 1;
  padding: 10px;
  float:left;
  background-color: #545358;
}

.block-c2{
  flex: 1;
  padding: 10px;
  float: none;
  background-color: #D2D2D4;
}

.block-c3{
  flex: 1;
  padding: 10px;
  float: right;
  background-color: #C9BEBC;
}

.block-c4{
  flex: 1;
  padding: 10px;
  float: right;
  background-color: #988780;
}

.footer-c1 {
	flex: 5;
	padding: 30px;
	float: left;
}

/* referred to https://developer.mozilla.org/en-US/docs/Web/CSS/flex-grow */
.footer-c2 {
	padding: 30px;
	flex-grow: 1;
	float: left;
}

.container {
	border-style: none;
	border-top: 1px solid silver;
	background-color: white;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* referred to https://stackoverflow.com/questions/45535824/how-can-i-add-border-to-a-form-box */
.form-box {
	border: solid 1px #545358!important;
	padding: 1em;
}

/* referred to https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element */
.input-res:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}