/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/*
referred to https://www.balbooa.com/knowledgebase/32-documentation-faq-joomla/176-how-to-add-custom-font-to-website-through-fontface
to upload font
*/

@font-face {
font-family: "Lato";
src: url("css/font/Lato.ttf");
src: url("css/font/Lato.woff") format("woff"), url("css/font/Lato.woff2") format("woff2")
}

@font-face {
font-family: "Belleza";
src: url("css/font/Belleza-Regular.ttf");
src: url("css/font/Belleza.woff") format("woff"), url("css/font/Belleza.woff2") format("woff2")

}


body {
  font-family: "Lato";
  font-weight: normal;
  padding: 2rem;
}

h1 {
  font-family: "Belleza";
  margin: 2em 0 0.5em 0;
  font-size: 2em;
  color: #988780;
  text-align: center;
  letter-spacing: 3px;
}

h2 {
  font-family: "Belleza";
  margin-bottom: 1em;
  font-size: 1.7em;
  color: #988780;
}

h3 {
  font-family: "Belleza";
  margin-bottom: 1em;
  font-size: 1em;
  color: #988788;
}

h4 {
  font-family: "Lato";
  font-size: 0.9em;
  letter-spacing: 1.5px;
  color: #545358;
  text-transform: uppercase;
}

h5 {
  font-family: "Lato-light";
  font-size: 0.5em;
  padding-top: 7em;
  float: right;
}
img{
  width: 100%;
}
/*----------homepage start--------------------------------------------
*/


/* button reference: https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1 */
.coverpagebutton{
  display: inline-block;
  background-color: #545358;
  color: white;
  text-align: center;
  padding: 12px 40px 12px 40px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 15px;
}

.coverpagebutton span{
  display: inline-block;
  position: relative;
}

.coverpagebutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: 2em;
  transition: 0.3s;
}


.coverpagebutton:hover span {
  padding-right: 2em;
}
.coverpagebutton:hover span:after {
  right: 0;
  opacity: 100;
}

.cover1page{
  width: 100%;
  top: 0;
}

.cover2page{
width: 100%;
}


/*----------------home page responsive------------------
*/

@media  screen and (min-width:791px){

   
   
      .button2{
        left:0%;
        top:100%;
      }

      .cover-aboutus-gird1of2{
        float: left;
        width: 40%;
        position: relative;
        margin-right: 3em;
        margin-bottom: 5em;
      }
         .cover-aboutus{
        margin-left: 15%;
        margin-top: 3em;
     }

    .cover-aboutus-h2{
        margin-top: 5em;
     }

}



@media screen and (max-width: 790px){

    .cover2page{
              visibility: hidden;
    }

     .cover-aboutus-gird1of2{
      width: 100%;
      clear: both;
      text-align: center;
     }
     .cover-aboutus-h2{
        margin-top: -8em;
     }
     .cover-aboutus{
        margin-left: 0;
        margin-top: 0em;
     }
}

/*----------homepage end--------------------------------------------
*/


/*----------nav--------------------------------------------
*/


.header-logo{
  font-family: "Belleza";
  font-size: 1.7em;
  color: #988780;
  font-size: 2em;
  text-align: center;
}

.header-nav{
  margin: 0 0 0 0;
}


.header-a{
  color: #545358;
  text-decoration: none;
  padding: 14px 16px;
  display: inline-block;
  float: right;
  text-align: center;
}

a {
  color: #545358;
  text-decoration: none;
}

a:hover, a:focus {
  color: #bebec1;
}

/* referred to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav_centered */

@media screen and (max-width:600px) {
    .header-a {
    float: none;
    display: block;
    background-color: rgba(201, 190, 188, 0.2);
  }
    .header-a:hover {
    background-color: rgba(201, 190, 188, 0.05);
    color: #545358;
  }
  .header-logo {
    float: none;
    display: block;
    margin-bottom: 0.7em;
  }
  header {
    margin-bottom: 2em;
  }
}


/*----------nav end--------------------------------------------
*/



/*---------------------------new arrivals/ shop page start--------------------
*/

a.shop-link {
  font-family: "Belleza";
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 12px;
  text-align: center;
  display: block;
  color: white;
  background-color: #545358;
  cursor: pointer;
  font-size: 12px;
  transition: 0.5s;
  width: 60%;
  margin: 0 auto;
  margin-top: 3em;
}

a.shop-link:hover {
  opacity: 0.7;
}

p.description {
  font-family: "Lato";
  font-size: 0.8em;
  margin-right: 1.5em;
  margin-left: 1.5em;
}

 .card {
      text-align: center;
      font-family: arial;
      color: #545358;
      margin-right: 1.5em;
    }

.new-productimage , .shop-product-image{
  width: 100%;
}

.image_full{
   display:block;
   width: 100%;
  }

 .image_mobile{
  display:none;
 }

@media (max-width: 640px) and (min-width: 320px){
  .image_full{
   display:none;
  }

  .image_mobile{
   display:block;
   width: 100%;
  }
}

@media screen and (min-width:62em) {

      .newarrival{
      margin-bottom: 3em;
      padding-top: 3em; 
    }

    .productimage:hover, .productimage:focus {
      opacity: 0.5;
    }

    .newarrival-grid-clo-1of3{
      width: 100%;
      display: flex;
      clear: both;
    }

    p.price {
      color: grey;
      font-size: 1em;
      font-family: "Lato";
      margin-bottom: 2em;
    }

      .shop-grid1of3{
        float: left;
        margin-top: 5em;
        clear: both;
        margin-left: 1.4em;
        border: solid rgba(201, 190, 188, 0.2) 0.5px;
        padding: 2em;
        position: absolute;

      }
      .collection-a{
        margin-bottom: 1em;
        clear: both;
      }

      .shop-grid2of3{
      width: 70%;
      margin-left: 17em;
      float: left;
      margin-top: 3em;
      /*border: solid blue;
      */}


      .h3-collection{
      display: block;
      font-size: 1.3em;
      }

      .shop-product1of3{
        display: flex;
        clear: both;
        margin-right: 2em;
        margin-bottom: 3em;
      }
}
@media screen and (max-width: 61.9375em){

  .shop-grid1of3{
    margin-top: 1.5em;
 
  }

  .collection-a{
    text-align: center;
     width: 33%;
   float: left;
     border: rgba(201, 190, 188, 0.2) solid 0.5px;
     margin-top: 1.5em;
     line-height: 2em;
     margin: 0 auto;
  }
  .shop-grid2of3{
    clear: both;
    margin-top: 6em;
    width:90%;
    margin-left: 2em;
  }

  .card{
    margin-bottom: 4em;
    margin: 0 auto;

  }
  .h3-collection{
    font-size: 1.3em;
  
  }
}
/*--------image hover effect: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity---------
*/
.shop-productimage{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 100%;
}

.shop-image-middle {
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.shop-image-container:hover .shop-productimage {
  opacity: 0.5;
}

.shop-image-container:hover .shop-image-middle {
  opacity: 1;
}



/*--------------------------------------------------new arrivals & shop page end--------------------
*/



/*---------------------------production detail page start--------------------
*/

h2.product-name {
    text-transform: uppercase;
}

@media  screen and (min-width:62em){
    .productdetail-grid1of2{
      width: 35%;
      float: left;
      margin: 2em 0 4em 8em;
    }
    .productpage-image{
      width: 100%;
      margin-top: 2.3em;
    }

}
@media screen and (max-width: 61.9375em){
.productdetail-grid1of2{
  width: 100%;
  margin-top: 2em;

}
.productpage-image{
  width: 100%;
}


.checkout-button{
  width: 100px;
}

.checkout-link-cart{
  width: 100px;
    }

}

/*---------------------------production detail page end--------------------
*/








/* ----------------checkout page start------------------ */

.checkout-grid-clo-1of2{
  display: flex;
  flex-direction: row;
  clear: both;
  margin: 2em 0 0 0em;
  width: 100%;
}

a.checkout-link {
  font-family: "Belleza";
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 12px;
  text-align: center;
  display: block;
  color: white;
  background-color: #545358;
  cursor: pointer;
  font-size: 12px;
  margin-top: 1.5em;
  transition: 0.5s;
  margin-bottom: 2.5em;
}

a.checkout-link:hover {
  opacity: 0.7;
}


/* referred to https://stackoverflow.com/questions/17236018/how-to-style-submit-button */
button[type=submit] {
  border-radius: 7px;
  border: 1px;
  width: 80px;
  height:25px;
  font-family: "Lato";
  background: #FFF;
}

.confirm-page{
  padding-left: 20%;
  width: 55%;
  text-align: center;
}

.confirm-grid{
  column-count: 2;
  padding-bottom: 2em;
  margin-top: 3em;
}

@media screen and (max-width:55em){
  .confirm-grid{
    column-count: 1;
    margin-top: 3em;
  }
}

/* ----------------checkout page end------------------*/

/* 
  TEXT ELEMENTS -------------------
*/

input[type=text] {
  border-radius: 4px;
  border: 2px;
  width: 25%;
  height:20px;
  font-family: "Lato";
  color: #545358;
  background: #FFF;
}


section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}


/* referred to https://www.w3schools.com/css/tryit.asp?filename=trycss_link2 */
a.footer-link {
  font-family: "Lato-light";
  font-size: 1em;
  letter-spacing: 1px;
  margin: 2em 0;
  display: block;
}

a.icons {
  padding-right: 1em;
}
.footer-c1 img{
  width: 27px;
}

/* edited this */
p {
  margin-top: 0;
  color: #545358;
  line-height: 1.8em;
  font-size: 0.9em;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

input[type=text] {
  width: 80%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #545358;
  border-radius: 3px;
}

label {
  margin-bottom: 15px;
  display: block;
}

span.price {
  float: right;
  color: grey;
  margin-top: 3em;
}

span.block {
  float: right;
  color: grey;
}


/* 
  COMBINED ELEMENTS -------------------
*/

/* referred to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav */
/*

/* referred to https://www.youtube.com/watch?v=JJSoEo8JSnc */

/*.page-footer{
  clear: both;
}*/
.container{
  display: flex;
  flex-wrap: wrap;
  border: 1px #ccc solid;
  padding: 10px;
  border-style: none;
  border-top: 1px solid silver;
  background-color: white;
  margin-top: 5em;
  clear: both;
}

.block-1{
  flex: 1;
  padding: 10px;
  float:left;
}

.block-2{
  flex: 1;
  padding: 10px;
  float: none;
}

.block-3{
  flex: 1;
  padding: 10px;
  float: right;
}

.block-c1{
  flex: 1;
  padding: 10px;
  float:left;
  background-color: #545358;
}

.block-c2{
  flex: 1;
  padding: 10px;
  float: none;
  background-color: #D2D2D4;
}

.block-c3{
  flex: 1;
  padding: 10px;
  float: right;
  background-color: #C9BEBC;
}

.block-c4{
  flex: 1;
  padding: 10px;
  float: right;
  background-color: #988780;
}

/* NEW SINCE JUNE 6 */
.footer-c1 {
  flex: 5;
  padding: 30px;
  float: left;
}

/* referred to https://developer.mozilla.org/en-US/docs/Web/CSS/flex-grow */
.footer-c2 {
  padding: 30px;
  flex-grow: 1;
  float: left;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

/* COLUMN FOR CHECKOUT PAGE referred to https://stackoverflow.com/questions/1216114/how-can-i-make-a-div-stick-to-the-top-of-the-screen-once-its-been-scrolled-to */
.col-25 {
  width: 100%;
}

.checkout-background{
  background-color: rgba(201, 190, 188, 0.15);
}

.col-50 {
  -ms-flex: 100%;
  flex: 100%;
}

.col-75 {
  -ms-flex: 100%;
  flex: 100%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */

@media screen and (max-width: 800px) {
  .col-25 {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
  }

  .col-50 {
  -ms-flex: 100%;
  flex: 100%;
}

  .confirm-page{
    width: 100%;
    padding-left: 0;
  }

  .checkout-grid-clo-1of2 {
    width: 100%;
    display: block;
  }

  h2.banner-header{
display: block;
position: static;
}

input[type=text] {
  width: 95%;
}

span.price{
  margin-top: 2em;
}
}



